* {
	
}
body{
	font-family: 'Tahoma', sans-serif;
}

h1 {
	font-size: 175%;
	color: darkcyan;
}
h2 {
	font-size:  125%;
}

article.food-item {
	background-color: seashell;
	border: 1px solid black;
}


/*

Pending - 
WIP - 14
Completed - 15

*/